<article class="blog">
    <a href="/blog/{{id}}">
    <div class="list-item">
        <span>{{title}}</span>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>        
    </div>
    </a>
</article>