<div class="comments">
  {{#each this}}
  <section class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      {{user.username}} on {{created_at}}
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>