{{!-- dashboard views, with new blog button and list of user's blogs --}}
{{!-- links to new blog page --}}
<div>
  <a href="/new-blog" class="new-post-btn">+ New Post</a>
</div>
{{!-- displays user's blogs --}}
{{#if blogs.length}}
<section>
  <h2 class="blog-title">Your Blogs</h2>
  <ol>
    {{#each blogs as |blog|}}
    <li>
      {{> blog-info blog}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}