<p>This is the homepage!</p>

<ol class="blog-list">
    {{#each blogs as |blog|}}
    <li>
        <article>
            <h2>{{title}}</h2>
            <p>{{article}}</p>
            <p>by {{user.username}} on {{created_at}}</p>
        </article>
    </li>
    {{/each}}
</ol>