<section>
  <h2>Create New Blog</h2>

  <form class="new-blog-form">
    <div>
      <label for="blog-title">Title</label>
      <br>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <p>Content</p>
      {{!-- <label for="blog-article">Content</label> --}}
      <textarea name="blog-article"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-blog.js"></script>