{{!-- add new blog page --}}
<section>
  <h2>Create New Blog</h2>
  {{!-- form input blog title and blog content --}}
  <form class="new-blog-form">
    <div>
      <label for="blog-title">Title</label>
      <br>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <p>Content</p>
      <textarea name="blog-article"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- initialize js --}}
<script src="/javascript/add-blog.js"></script>