{{!-- sign up form to create new account - inputs are username and password --}}
<h2>Sign Up</h2>
<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn">Sign Up</button>
  </div>
</form>
{{!-- link to login page --}}
<a href="/login">Login Instead</a>

{{!-- commence js --}}
<script src="/javascript/signup.js"></script>