{{> blog-info blog }}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}


{{!-- {{> comments post.comments}} doesn't work for some reason, should replace below div! --}}

<div class="comments">
  {{#each blog.comments}}
  <section class="comment">
    <div class="meta">
      by {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}