{{> full-blog blog }}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn">Add Comment</button>
  </div>
</form>
{{/if}}


{{!-- {{> comments post.comments}} doesn't work for some reason, should replace below div! --}}

<div class="comments">
  {{#each blog.comments}}
  <section class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      {{comment_text}}
      <br>
      - {{user.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}